<body id="welcome-container">

<nav class="main-nav" id="main-nav">


  <div class="player-here">
    <p><div class="Pl-title"><%= @playlists.first.name %></div></p>

    <object type="application/x-shockwave-flash" data="http://grooveshark.com/widget.swf" width="270" height="100%" name="gsPlaylist" class="gsPlaylist" id="gsPlaylist">
      <param name="wmode" value="window"/>
      <param name="allowScriptAccess" value="always"/>
      <param name="flashvars" value=<%= @playlists.first.source %>/>
    </object>
  </div>
</nav>
</object>

<div class="page-wrap">

  <header class="main-header">

    <!--<span id="dmc"><span class="pink-letter">D</span>igital<span class="pink-letter"> M</span>usic<span class="pink-letter"> C</span>lub</span>-->
  </header>

  <div class="phone-content">
    <p>So I see you are on a phone or tablet.  Nice. </p>
    <p>Because a lot of phone browsers don't really play well with Flash players, you're probably not going to enjoy this experience.</p>
    <p>The site is currently optimized for larger screens, but, if you really want, head on over to this <a href="http://grooveshark.com/#!/sethmusulin/playlists">playlist repository on Grooveshark</a> to get your fix.</p>
    <p> You can also sign up for the club below or shoot me a playlist for the site.</p>
    <p>Thanks, DMC </p>
  </div>
  <div class="side-toggle">
    <a href="#main-nav" class="open-menu">
      <span>Tracks</span> <br>
      <span style="font-size:30px"> >></span>
    </a>
    <a href="#" class="close-menu">
     <span> Hide</span><br>
       <span style="font-size:30px"> <<</span>
    </a></div>
  <%= form_for @user, html: {id: "signup"} do |f| %>
      <%= f.email_field :email, id: "request", placeholder: "Join the Club" %>
      <%= f.submit "Join ", class: "email-send" %>
  <% end %>
   <div class="about">About the Club</div>
  <%= link_to "Create Clubber Playlist", new_submission_path, id: "new-submission" %>
  <!--<span class="now-playing"><%= @playlists.first.name %></span>-->
  <div class="content">
    <!--<a href="#main-nav" class="open-menu">-->
      <!--<img src='<#%= @playlists.first.picture %>'/>-->
    <!--</a>-->
    <div id="clickable1" class="toggle-footer open-menu"></div>
    <div id="clickable2" class="toggle-footer"></div>
    <div id="clickable3" class="toggle-footer"></div>
    <div id="clickable4" class="toggle-footer close-menu"></div>

    <!--<a href="#" class="close-menu">-->
      <!--<img src='<#%= @playlists.first.picture %>'/>-->
    <!--</a>-->
</div>
</div>
  <div class="toggle-footer">
    <%= image_tag('play-button.png') %>
  </div>
<footer>

  <div id="footer-content">
    <div class="close"> X</div>
    <div class="footer-albums">
      <% @playlists.each do |playlist| %>
          <a href="#main-nav" class="open-player" id="open-player" data-source="<%= playlist.source %>" data-title="<%= playlist.name %>" data-pic="<%= playlist.picture %>">
            <img src='<%= playlist.picture %>'/>
          </a>
      <% end %>
    </div>
  </div>
</footer>
</body>