<div class="container">
  <div class="title">Digital Music Club</div>
  <div class="subtitle"> Coming + Soon + ish</div>


  <%= form_for @song, html: {class: "song-form"} do |f| %>
      <%= f.label :artist %>
      <%= f.text_field :artist %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.submit "That's my cut" %>
  <% end %>

  <iframe src="http://toma.hk/embed.php?artist=<%= @song_play.artist %>&title=<%= @song_play.title %>&autoplay=false&disabledResolvers=Soundcloud" width="200" scrolling="no" height="200" frameborder="0" allowtransparency="true"></iframe>
</div>


