<nav class="main-nav" id="main-nav">


  <div class="player-here">
    <p><span class="Pl-title"><%= @playlists.first.name %></span></p>

    <object type="application/x-shockwave-flash" data="http://grooveshark.com/widget.swf" width="250" height="95%" name="gsPlaylist" class="gsPlaylist" id="gsPlaylist">
      <param name="wmode" value="window"/>
      <param name="allowScriptAccess" value="always"/>
      <param name="flashvars" value=<%= @playlists.first.source %>/>
    </object>
  </div>
</nav>
</object>

<div class="page-wrap">

  <header class="main-header">


    <h1><span> Digital Music Club </span></h1>
  </header>
  <div class="side-toggle">

    <a href="#" class="close-menu">
      <img src="http://cdn.flaticon.com/png/256/38488.png" height="22px">
    </a>
  </div>
  <%= form_for @user, html: {id: "signup"} do |f| %>
      <%= f.email_field :email, id: "request", placeholder: "Join the Club" %>
      <%= f.submit "", class: "email-send" %>
  <% end %>
  <%= link_to "Create Clubber Playlist", new_submission_path, id: "new-submission" %>
  <a href="#main-nav" class="open-menu" id="play-button">
    <img src="http://2.bp.blogspot.com/-CqfvvN8H1TM/Tf0XVVeZ3PI/AAAAAAAAAkk/Pe6HwFyK-og/s1600/point.gif" height="40px">
  </a>
  <div class="content">
      <img src='<%= @playlists.first.picture %>'/>
    </a>

  </div>

</div>
<footer>
  <div class="toggle-footer">≈ Albums ≈</div>

  <div id="footer-content">
      <% @playlists.each do |playlist| %>
          <a href="#main-nav" class="open-player"  id="open-player" data-source="<%= playlist.source %>" data-title="<%= playlist.name %>" data-pic="<%= playlist.picture %>">
            <img src='<%= playlist.picture %>'/>
          </a>
      <% end %>

    </div>

</footer>