<div class="container">
  <div class="title">Digital Music Club</div>
  <div class="subtitle"> Coming + Soon + ish</div>
  <div class="subtitle"><%= link_to "Give Good Playlist", new_playlist_path %></div>


  <% @playlist.each do |playlist| %>
      Created by: <%= playlist.creator %>
      Title: <%= playlist.name %>
      <div class="tracks">
        <% playlist.songs.each do |song| %>
            <iframe src="http://toma.hk/embed.php?artist=<%= song.artist %>&title=<%= song.title %>" width="200" scrolling="no" height="200" frameborder="0" allowtransparency="true"></iframe>
        <% end %>
  <% end %>
  </div>
</div>



