<header class="main-header">
  <span id="dmc"><span class="pink-letter">D</span>igital<span class="pink-letter"> M</span>usic<span class="pink-letter"> C</span>lub</span>
</header>


<%= form_for @playlist, html: {class: "song-form"} do |f| %>
    <p> <%= f.label :creator %>
      <%= f.text_field :creator %></p>

    <p><%= f.label :name %>
      <%= f.text_area :name, :size => "75" %></p>

    <p><%= f.label :source %>
      <%= f.text_area :source, :cols => "75", :rows => "10" %></p>

    <p><%= f.label :picture %>
      <%= f.text_area :picture, :cols => "75", :rows => "2" %></p>

    <p><%= f.submit "Edit Playlist" %></p>
    <p><%= link_to "Cancel", new_playlist_path %></p>
<% end %>