
<div class="new-playlist-wrapper">
  <header class="main-header">

    <span id="dmc"><span class="pink-letter">D</span>igital<span class="pink-letter"> M</span>usic<span class="pink-letter"> C</span>lub</span>
      </header>

    <span class="manage-users"><%= link_to "Manage Users", users_path %></span>
<div class="playlist-form">
  <%= form_for @playlist, html: {class: "song-form"} do |f| %>
      <p> <%= f.label :creator %>
        <%= f.text_field :creator %></p>

      <p><%= f.label :name %>
        <%= f.text_field :name, :size => "75" %></p>

      <p><%= f.label :source %>
        <%= f.text_area :source, :cols => "75", :rows => "10" %></p>

      <p><%= f.label :picture %>
        <%= f.text_area :picture, :cols => "75", :rows => "2" %></p>
      </p>

      <p><%= f.submit "Yo Dave, publish my playlist" %></p>
      <p><%= link_to "Cancel",root_path %>
     <span class="playlist-link"> <%= link_to "Playlists", playlists_path %></span></p>
  <% end %>
</div>
  <div class="submissions">
    <fieldset>
      <legend>Recent Playlist Submissions</legend>
      <table>
        <tr>
          <th>Done</th>
          <th>Clubber</th>
          <th>Album Name</th>
          <th>Tracks</th>
        </tr>
        <% @submissions.each do |submission| %>
            <tr>
              <td><%=button_to "Remove", submission_path(submission.id), :method => :put %></td>
              <td><%= submission.clubber_name %></td>
              <td><%= submission.album_title %></td>
              <td><%= simple_format(submission.tracks) %></td>
            </tr>
        <% end %>
      </table>
    </fieldset>
  </div>

</div>
