<header class="main-header">

  <h1><span> Create that Playlist Dave </span></h1>
</header>

<%= form_for @playlist, html: {class: "song-form"} do |f| %>
   <p> <%= f.label :creator %>
    <%= f.text_field :creator %></p>
    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
    <p><%= f.label :source %>
    <%= f.text_area :source, :cols => "75", :rows => "10"%></p>
    <p><%= f.label :picture %>
    <%= f.text_area :picture, :cols => "75", :rows => "2" %></p>
    <p>
    <%= f.fields_for :songs do |builder| %>

        <%= render "playlists/song_fields", f: builder %>
    <% end %>
   </p>

    <%= link_to_add_fields "Click Here to Add A Song", f, :songs %>
    <p><%= f.submit "Yo Dave, publish my playlist" %></p>

    Recent Playlist Submissions
    <% @submissions.each do |submission| %>
        <%= submission.clubber_name %>
        <%= submission.album_title %>
        <%= submission.tracks %>
        <% end %>
<% end %>


