<header class="main-header">

  <h1><span> Create that Playlist Dave </span></h1>
</header>

<%= form_for @playlist, html: {class: "song-form"} do |f| %>
    <%= f.label :creator %>
    <%= f.text_field :creator %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :source %>
    <%= f.text_field :source %>
    <%= f.label :picture %>
    <%= f.text_field :picture %>
    <p>
    <%= f.fields_for :songs do |builder| %>

        <%= render "playlists/song_fields", f: builder %>
    <% end %>
   </p>

    <%= link_to_add_fields "Click Here to Add A Song", f, :songs %>
    <p><%= f.submit "Yo Dave, publish my playlist" %></p>
<% end %>


