<div class="new-playlist-wrapper">
  <header class="main-header">

    <span id="dmc"><span class="pink-letter">D</span>igital<span class="pink-letter"> M</span>usic<span class="pink-letter"> C</span>lub</span>
  </header>

  <%= form_for @playlist, html: {class: "song-form"} do |f| %>
      <p> <%= f.label :creator %>
        <%= f.text_field :creator %></p>

      <p><%= f.label :name %>
        <%= f.text_field :name %></p>

      <p><%= f.label :source %>
        <%= f.text_area :source, :cols => "75", :rows => "10" %></p>

      <p><%= f.label :picture %>
        <%= f.text_area :picture, :cols => "75", :rows => "2" %></p>

      <p>
        <%= f.fields_for :songs do |builder| %>

            <%= render "playlists/song_fields", f: builder %>
        <% end %>
      </p>

      <%= link_to_add_fields "Click Here to Add A Song", f, :songs %>
      <p><%= f.submit "Yo Dave, publish my playlist" %></p>
  <% end %>

  <div class="submissions">
    <fieldset>
      <legend>Recent Playlist Submissions</legend>
      <table>
        <tr>
          <th>Done</th>
          <th>Clubber</th>
          <th>Album Name</th>
          <th>Tracks</th>
        </tr>
        <% @submissions.each do |submission| %>
            <tr>
              <td><%=button_to "Remove", submission_path(submission.id), :method => :put %></td>
              <td><%= submission.clubber_name %></td>
              <td><%= submission.album_title %></td>
              <td><%= simple_format(submission.tracks) %></td>
            </tr>
        <% end %>
      </table>
    </fieldset>
  </div>

  <table style="margin-left: 1.5em">
    <% @playlists.in_groups_of(2, false) do |row_playlists| %>
        <tr>
          <% for playlist in row_playlists %>
              <td style="padding: .5em"><%=link_to playlist.name, edit_playlist_path(playlist) %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>
