<!DOCTYPE html>
<html>
<head>
  <title>DigitalMusicClub</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <link rel="icon" href="favicon1.ico" type="image/ico"/>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= yield %>



    <footer>
      Brought to you by: Seth Musulin  & Dave Harris <%= Time.now.year %>
    </footer>
</body>
</html>
